
@{
    ViewBag.Title = "Guncelle";
}

@model Kitaplik.Models.Kitap

    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <row>
                    <div class="col-md-8" style="margin-top:1rem;">
                        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
                    </div>
                </row>
                <row>
                    <div class="col-md-8" style="margin-top:1rem;">
                        @Html.TextBoxFor(x => x.Yazari, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Yazari, "", new { @class = "text-danger" })
                    </div>
                </row>
                <row>
                    <div class="col-md-8" style="margin-top:1rem;">
                        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Kategori, "", new { @class = "text-danger" })
                    </div>
                </row>
                <row>
                    <div class="col-md-8" style="margin-top:1rem;">
                        @Html.TextBoxFor(x => x.YayinEvi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.YayinEvi, "", new { @class = "text-danger" })
                    </div>
                </row>
                <row>
                    <div class="col-md-8" style="margin-top:1rem;">
                        @Html.TextBoxFor(x => x.BasimYili, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BasimYili, "", new { @class = "text-danger" })
                    </div>
                </row>
                <row>
                    <div class="col-md-8" style="margin-top:1rem;">
                        <a href="/Kitap/Index/" class="btn btn-success" style="margin-right:1rem;">Geri Dön</a>
                        <input type="submit" value="Güncelle" class="btn btn-primary" />

                    </div>
                </row>
            </div>
        }

    </div>

